{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us </title>
    <link rel="stylesheet" href="{% static 'css/aboutstyle.css' %}">
</head>
<body>
    <!-- Navigation -->
    <header>
        <nav>
            <div class="container">
                <h1>E-Farming System</h1>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="contact">Contact</a></li>
                    <li><a href="login">Login</a></li>
                    <li><a href="register">Signup</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <h2>About Us</h2>
            <p>  At E-Farming System, we are dedicated to revolutionizing agriculture through innovative digital solutions. Our platform empowers farmers by providing cutting-edge tools for crop management, weather forecasting, marketplace access, and expert consultation. We are committed to enhancing farming efficiency and productivity, ensuring that every farmer has the resources they need to succeed. By leveraging the latest technology and data-driven insights, we help farmers make informed decisions and achieve sustainable growth. Join us in transforming the future of farming with technology that makes a difference and supports a thriving agricultural community. Together, we are paving the way for a more resilient and prosperous future for agriculture.</p>
            <br><br>
            <h3>"Empowering farmers through innovation and technology for a brighter, more sustainable future."</h3>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 E-Farming System. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
