{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us | E-Farming System</title>
    <link rel="stylesheet" href="{% static 'css/contactstyle.css' %}">
</head>
<body>
    <header>
        <nav>
            <h1>E-Farming System</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="about">About Us</a></li>
            
            </ul>
        </nav>
    </header>

    <section id="contact">
        <div class="container">
            <h2>Contact Us</h2>
            <p>If you have any questions, feedback, or need support, feel free to reach out to us. We are here to assist you with any inquiries you might have regarding our E-Farming System.</p>
            <p>You can contact us using the form below or through the following methods:</p>
            <div class="contact-details">
                <h3>Address</h3>
                <p>Organic farm Field<br> Vazhoor<br>Pincode : 686 504<br>India</p>

                <h3>Phone</h3>
                <p>7510508273</p>

                <h3>Email</h3>
                <p><a href="mailto:farmfusion@efarmingsystem.com">farmfusion@efarmingsystem.com</a></p>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 E-Farming System. All rights reserved.</p>
    </footer>
</body>
</html>
